.support-main{
    background-color: black;
    color: white;
}
.title{
    text-align: center;
}
.title h1{
    font-size: 50px;
    font-weight: 700;
}
.title p{
    margin-top: -20px;
    /* font-size: 22px; */
    font-weight: 700;
}
.support{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 50px;
    margin-left: 10%;
    /* margin-bottom: 10%; */
    height: 130px;
    width: 75%;
    border-radius: 10%;
    
}
.support .task{

    display: flex;
    gap: 7%;
    width: 100%;
    /* background-color: blue; */
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    transition: background 0.5s,transform 0.5s;
 
}
.support .task:hover{
    transform: translateY(-10px);
}

.support .task .col1{
    flex-basis: 20%;
    background-color: white;
    color: black;
    border-radius: 10px;
    /* padding: 1   0px; */
 
}
.support .task .col2{
    flex-basis: 80%;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top: -10px;
    
}
.support .task .col1 img{
    
    
    width: 100px;;
    height: 100px;
    margin-top: -10px;
    border-radius: 20%;
 
}
.support .task .col2 h4{

 
   background-color: white;
   color: black;
   border-radius: 10px;
   /* padding: 10px; */
 
}
.support .task .col2 p{

 
   background-color: white;
   color: rgb(0, 0, 0);
   border-radius: 10px;
   /* padding: 10px; */
 
}

.office{

    margin-top: 30%;
    text-align: center;
    /* margin-bottom: 5%; */

}
.office h1{
      
    font-size: 40px;
}
.office p{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.office a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}


@media (max-width :720px){
    .support{

        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));

    }
    .title h1{
        font-size: 40px;
    }
    .title p{
        padding: 0 20px;
    }
    .office{

        margin-top: 230%;
        text-align: center;
        margin-bottom: 5%;
    
    }
    .office h1{
      
        font-size: 30px;
    }
}

.title > h1 {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.title > p {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 4rem;
}

.task {
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.col2{
    margin: 1.5rem;
    padding: 1rem;
    
}

.office {
    padding-bottom: 4rem;
}