.outer-container{
    height: 120dvh;
    /* width: 56%; */
}
.container{
    background-color:rgb(0, 0, 0);
    height: 50%;
    position: relative;
    background-image: url("");
    background-size:cover;
    background-repeat: no-repeat;
    font-family: Titillium Web, sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://d3apkeya39jz4k.cloudfront.net/bangalore_city_14a3725848.webp');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    position: relative;
}
.text-container{
    color: white;
    display: flex;
    width: 56%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top:15%;
    
}
.line1 h1{
    font-size: 2.25rem;
    font-weight: 550;


}
.line2 h1{
    font-size: 1.2rem;
    font-weight: 200;
    
}
.line1{
    line-height: 7vh;
    
}
.line2{
    font-weight: 100;
    font-size: 0.6rem;
    position: relative;
    top: 8%;
    padding-left: 6%;
    padding-right: 6%;
}
.area2{
    height: 40dvh;
    padding-top: 6%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.about{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    margin-bottom: 5dvh;
}
.about2{
    height: 30dvh;
    padding-top: 7%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-Bottom:30dvh;
}
.why-rag{
    width: 80%;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: -20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

    
}
.why-rag h2{
    /* background: blue; */
    text-align: center;
    margin-bottom: 10%;
    font-size: 2rem;
}
.use{
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
    font-size: 1.06rem;
}
.why-rag p{
    margin-top: 5%;
}
.all-area{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 6%;
    line-height: 250%;

    
}
.all-area h3{
    font-weight: 200;
}
.about-content h3{
    
    font-weight: 200;
    line-height: 5dvh;
}
.area2{
    width: 80%;
    background-color: white;
    padding: 20px;
    /* padding-left: 20%; */
    margin-top: 75px;
    height: 100%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    /* justify-content: center; */
    /* height: max-content; */
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    margin-bottom: 5dvh;
    
}